@use "../../styles/vars";

.container {
    display: flex;
    width: 19.3rem;
    cursor: pointer;
    position: relative;
    color: vars.$purple;
    align-items: center;
    border-radius: 1.2rem;
    flex-direction: column;
    justify-content: center;
    font-weight: vars.$weight-600;
    padding: 6.1rem 3.8rem 6rem 3.9rem;
    background: vars.$light-light-purple;

    &--change {
        .container__image,
        .container__text {
            z-index: 2;
        }
    }

    &__profile {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.3;
        object-fit: cover;
        position: absolute;
        border-radius: 1.2rem;
    }

    &__progress {
        top: 2rem;
        right: 2rem;
        position: absolute;
    }

    &__text {
        margin-top: 0.8rem;
        display: inline-block;
    }
}