@use "../../styles/vars";
@use "../../styles/global";
@use "../../styles/breakpoint";

.file {
    display: none;
}

.container {
    .heading {
        text-align: left;
        @extend .subtitle;
        margin-bottom: 1.6rem;
    }
}

.note {
    font-size: 1.2rem;
    color: vars.$dark-grey;
    margin-top: vars.$gap-between-object;

    &--invalid {
        color: vars.$red;
    }
}

@include breakpoint.mq(tablet) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__upload {
            display: flex;
            align-items: center;
            gap: vars.$gap-between-object;
        }
    }

    .note {
        max-width: 12.7rem;
    }
}