@use "./vars";
@use "./breakpoint";

.title {
    font-size: 2.4rem;
    color: vars.$black;
    margin-bottom: 0.8rem;
    font-weight: vars.$weight-700;
    font-family: "Instrument-Sans-Bold";
}

.subtitle {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: vars.$dark-grey;
}

@include breakpoint.mq(tablet) {
    .title {
        font-size: 3.2rem;
    }
}