$red: #FF3939;
$black: #333333;
$white: #FFFFFF;
$purple: #633CFF;
$dark-grey: #737373;
$light-grey: #D9D9D9;
$dirty-white: #FAFAFA;
$light-purple: #BEADFF;
$light-light-purple: #EFEBFF;


$weight-700: 700;
$weight-600: 600;
$weight-400: 400;

$gap-between-object: 2.4rem;