@use '../../../styles/vars';

.container {
    &--row {
        gap: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .container__label {
            font-size: 1.6rem;
        }
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        color: vars.$black;
        margin-bottom: 0.4rem;
    }
}