@use "../../styles/vars";

.container {
    gap: 0.8rem;
    display: flex;
    width: 23.7rem;
    padding: 1.6rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: vars.$white;
    align-items: center;
    border-radius: 0.8rem;
    justify-content: space-between;

    > div {
        gap: 0.8rem;
        display: flex;
        align-items: center;

        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(308deg) brightness(103%) contrast(101%);
        }
    }

    &__image {
        width: 2rem;
        height: 2rem;
    }
}