@use "../../styles/vars";
@use '../../styles/breakpoint';

$purple-filter: brightness(0) saturate(100%) invert(23%) sepia(30%) saturate(7219%) hue-rotate(246deg) brightness(102%) contrast(106%);

.container {
    min-height: 100vh;
    background: vars.$dirty-white;

    .nav {
        gap: 0.8rem;
        display: flex;
        align-items: center;
        background: vars.$white;
        justify-content: space-between;
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
        padding: 1.6rem 1.6rem 1.6rem 2.4rem;

        &__logo {
            &--desktop {
                display: none;
            }
        }

        .subgrid {
            gap: 0.8rem;
            display: flex;
            align-items: center;

            &__link {
                gap: 0.8rem;
                cursor: pointer;
                display: inline-flex;
                text-decoration: none;
                border-radius: 0.8rem;
                color: vars.$dark-grey;
                padding: 1.1rem 2.7rem;
                font-family: "Instrument-Sans-Bold";

                &__label {
                    display: none;
                }

                img {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    color: vars.$purple;

                    img {
                        filter: $purple-filter;
                    }
                }

                &--active {
                    color: vars.$purple;
                    background: vars.$light-light-purple;

                    img {
                        filter: $purple-filter;
                    }
                }
            }
        }

        .preview {
            &__link {
                img {
                    cursor: pointer;
                    border-radius: 0.8rem;
                    padding: 1.1rem 1.6rem;
                    outline: 1px solid vars.$purple;
                }
            }

            &__button {
                display: none;
            }
        }
    }
}

.main {
    padding: 1.6rem;
}

@include breakpoint.mq(tablet) {
    .container {
        .nav {
            border-radius: 1.2rem;
            max-width: calc(100% - 4.8rem);
            margin: 2.4rem auto 2.4rem auto;

            &__logo {
                &--mobile {
                    display: none;
                }

                &--desktop {
                    display: block;
                    height: 3.2rem;
                }
            }

            .subgrid__link__label {
                display: block;
            }

            .preview {
                &__link {
                    display: none;
                }

                &__button {
                    display: block;
                }
            }
        }
    }

    .main {
        padding: 2.4rem;
        padding-top: 0px;
    }
}