@use "../../styles/vars";
@use "../../styles/breakpoint";

.container {
    border-radius: 0.8rem;
    background: vars.$white;
}

@include breakpoint.mq(desktop) {
    .container {
        min-height: 0px;
        border-radius: 0px;
        background: transparent;
    }
}