@use "../../styles/vars";
@use "../../styles/breakpoint";

.form {
    display: flex;
    flex-direction: column;
    gap: vars.$gap-between-object;

    &__navigate {
        cursor: pointer;
        text-align: center;
    
        &--highlight {
            color: vars.$purple;
        }
    }

    &__validation__text {
        font-size: 1.2rem;
        color: vars.$dark-grey;
    }
}

@include breakpoint.mq(tablet) {
    .form {
        &__navigate {
            gap: 0.4rem;
            display: inline-flex;
            justify-content: center;
        }
    }
}

