@use "../../styles/vars";
@use "../../styles/breakpoint";

.navigate {
    text-align: center;

    &--highlight {
        color: vars.$purple;
    }
}

.info {
    font-size: 1.2rem;
    color: vars.$dark-grey;
}

.container {
    gap: 2.4rem;
    display: flex;
    flex-direction: column;
}

@include breakpoint.mq(tablet) {
    .navigate {
        gap: 0.4rem;
        display: inline-flex;
        justify-content: center;
    }
}