@use "../../styles/vars";

.navigate {
    text-align: center;

    &--highlight {
        color: vars.$purple;
    }
}

.info {
    font-size: 1.2rem;
    color: vars.$dark-grey;
}

.container {
    gap: 24px;
    display: flex;
    flex-direction: column;
}