@use "../../styles/vars";
@use "../../styles/breakpoint";

.container {
    padding: 2rem;
    text-align: center;
    border-radius: 1.2rem;
    background: vars.$dirty-white;

    .image {
        height: 8rem;
        margin: 0 auto;
        margin-top: 2.65rem;
    }

    .title {
        margin: 2.4rem 0px;
    }

    .subtitle {
        margin-bottom: 2.65rem;
    }
}

@include breakpoint.mq(tablet) {
    .container {
        .image {
            height: 16rem;
            margin-top: 6.25rem;
        }

        .title {
            margin-top: 4rem;
            margin-bottom: 2.4rem;
        }

        .subtitle {
            margin: 0 auto;
            max-width: 48.8rem;
            margin-bottom: 6.25rem;
        }
    }
}