@use "../../styles/vars";
@use "../../styles/breakpoint";

.subcontainer {
    &--links {
        padding: 0px;
        display: flex;
        flex-direction: column;
        background: transparent;
        gap: vars.$gap-between-object;
    }

    &--loader {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@include breakpoint.mq(desktop) {
    .subcontainer {
        &--links {

            overflow-y: auto;
            max-height: 48rem;
        }
    }
}