@use "../../styles/vars";

.subcontainer {
    &--links {
        padding: 0px;
        display: flex;
        flex-direction: column;
        background: transparent;
        gap: vars.$gap-between-object;
    }

    &--loader {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}